.footer {
  width: 320px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer-link,
.footer-date {
  display: inline-block;
  text-align: center;
  font-size: 24px;
}

.footer-link {
  
}

.footer-date {

}
