:root {
  --color-background: hsla(155, 40%, 65%, 1);
  --color-text-body: hsla(50, 100%, 81%, 1);
  --color-text-headings: hsla(50, 100%, 81%, 1);
  --color-player-detail: hsla(50, 100%, 81%, 1);
  --color-player-hover: hsla(0, 0%, 100%, 0.75);
  --color-player-play: hsla(207, 83%, 80%, 1);
}
