/**
 * Header.
 */

.initial-header {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}

/* TODO: remove important tag*/
.initial-header > h1 {
  transition: color .5s ease-out !important;
}

.link-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 24px;
}

/**
 * Logo.
 */

.logo {
  top: 0;
  margin: 0 auto;
  height: 100%;
  min-width: 320px;
  max-width: 480px;
  display: block;
  font-size: 120px;
  transform: translate3d(0,25%,0);
  text-transform: uppercase;
  text-align: center;
  cursor: default;
  pointer-events: none;
  color: #ef6e7e;
}
